<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.greendao">

    <application
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="android:theme">
        <activity android:name=".activity.GreenDaoActivity"></activity>
    </application>

</manifest>